body {
    background-color:  #F0EFFF;
}

.fil-ariane3 {
    display: flex;
    font-family: "bebas-neue", sans-serif;
    font-size: 40px;
    padding-left: 5rem;
    margin-top: 2rem;
    margin-bottom: 0px;
}

.separation {
    padding-left: 10px;
    padding-right: 10px;
}

.liens-ariane {
    color: black;
    text-decoration: none;
}

.liens-ariane:hover{
    text-decoration: underline;
    color: #7C73F5;
}

.taille-saisie {
    height: 50px;
    
}

.d-flex {
    padding-left: 4rem;
}

.search:hover {
    color: black;
    background-color: #7C73F5;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.search {
    color: rgb(0, 0, 0);
    background-color: #ffffff ;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
    border-radius: 5px;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.experiences-immersives {
    font-size: 62px;
    font-family: "bebas-neue", sans-serif;
    padding-top: 2.5%;
    margin-bottom: 5% ;
    padding-left: 5rem;
}

.all-articles {
    display: flex;
    flex-direction: column;
}

.rect-all {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.liens-evenement:hover {
    display: block;
    color :#7C73F5;
    text-decoration: underline;
}

.liens-evenement {
    display: block;
    color : black;
    text-decoration: none;
}
.bloc-all {
    display: flex;
    margin-right: 1.7%;
    overflow: hidden;
    margin-bottom: 10% ;
    width: 335px;
    height: 314px;
    left: 60px;
    top: 2168px;
    background: #C1C6E0;
    border-radius: 5px;
}

.titres-all h3{
    width: 335px;
    font-size: 22px;
}

.info-all {
    position: absolute;
    z-index: 100;
    padding-left: 1.5rem;
    padding-top: 1rem;
    padding-right: 1.5rem;
    margin-top: auto;
    background-color: #7C73F5;
    opacity: 90%;
    border-radius: 5px;
}

.image-lune {
    z-index: 1;
}