.header-evenement {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
}

.texte-header {
    background-color: #7C73F5;
    padding-top: 2rem;
}

.display-flex-date {
    display: flex;
}

.date-evenement1 {
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.date-evenement2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 26px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.date-evenement3 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
}

.titre-article-evenement {
    font-family: "Bebas-neue", sans-serif;
    font-size: 62px;
    padding-left: 2rem;
    line-height:75px ;
}

.sous-titre-gras {
    font-weight: 700;
}

.align-article-evenement {
    justify-content:flex-start  ;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.sous-titre-article {
    font-family: "Bebas-neue", sans-serif;
    font-size: 42px;
}

.deuxieme-col {
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    font-weight: 700;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.titre-col-2 {
    padding-top: 3rem;
}

.api-google-maps {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.sous-titre-col2 {
    font-weight: 1;
}

.align-element-col2 {
    display: flex;
}

.espace-img-col2 {
    padding-bottom: 1rem;
}

.align-texte-com-picto {
    display: flex;
}

.picto-com {
    padding-bottom: 4rem;
    transform: translateY(-35%);
}

.image-lune {
    width: 100%;
}

@media screen and (max-width: 900) {
    .header-evenement {
        display: grid;
        grid-template-rows : 1fr 1fr;
    }
}

label,
textarea {
    font-size: 0.8rem;
    letter-spacing: 1px;
}

textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: #C1C6E0;
    padding-bottom: 3rem;
}

label {
    display: block;
    margin-bottom: 10px;
}

.align-bloc-comm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-bottom: 4rem;
}

.bloquer-la-taille {
    resize: none;
}

.align-text-atention-comm {
    display: flex;
    justify-content: start;
    margin: 0;
}

.text-com-attention {
    margin-top: 16px;
    padding-left: 1rem;
}

.btn-envoyer-comm {
    display: flex;
    justify-content: center;
}

.conect1 {
    color: black;
    background-color: #7C73F5;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
}

.img-pp-com {
    background-color: none;
}
.espace-commentaire {
    margin-bottom: 1rem;
}

.apercu-comm {
    background-color: #C1C6E0;
    padding-top: 0.5rem;
}

.btn-com-envoyer {
    display: flex;
    justify-content: center;
}