footer, .text-center, .p-3 {
    background-color: #E4E3FE;
}

h1, .liens {
    color: black;
    text-decoration: none;
}

.liens:hover{
    text-decoration: underline;
    color: #7C73F5;
}

.last-in-footer {
    margin-left: auto;
}

.bordure-footer {
    width: 100vw;
    height: 1px;
    z-index: 1O;
    background: #000000;
}