body {
    background-color: #F0EFFF;
}

.articles-header {
    display: flex;
    justify-content: center;
}

.articles-header .rect {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
    padding-bottom: 5%;
}

.articles-header .square {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-end;
}

.articles-header .bloc-rect {
    display: flex;
    align-items: flex-start;
    margin-right: 1.7%;
    overflow: hidden;

    width: 536px;
    height: 624px;
    left: 173px;
    top: 949px;
    background: #C1C6E0;
    border-radius: 5px;
}

.articles-header .bloc-square {
    display: flex;
    align-items: flex-end;
    overflow: hidden;

    width: 200px;
    height: 195px;
    left: 732px;
    top: 949px;
    background: #C1C6E0;
    border-radius: 5px;
}

.articles-header .info-square {
    position: absolute;
    width: 30%;
    height: 10%;
}

.articles-header .info-square h3,
.articles-header .info-square p {
    display: flex;
}

.articles-header .info-rect h3,
.articles-header .info-rect p {
    display: absolute;
}

.articles-decouvrir {
    background-color: #7C73F5;
}


.articles-decouvrir h1 {
    text-align: center;
    font-family: "bebas-neue", sans-serif;
    padding-top: 2.5%;
    margin-bottom: 5% ;
}

.rect-decouvrir {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.titres-decouvrir {
    display: block;
}
.bloc-decouvrir {
    display: flex;
    margin-right: 1.7%;
    overflow: hidden;
    margin-bottom: 10% ;

    width: 335px;
    height: 314px;
    left: 60px;
    top: 2168px;
    background: #C1C6E0;
    border-radius: 4px;
}

.titre-eximBordeaux{
    font-size: 128px;
    position: relative;
    z-index: 5;
}

::-moz-selection { 
	color: white;
	background: #7C73F5;
}

::selection {
	color: white;
	background: #7C73F5;
}