body {
    background-color: #F0EFFF;
}

.article-header {
    display: flex;
}

.card-article{
    background-color:#C1C6E0;
}

#rectangle {
    background : #C1C6E0;
    height: 624px;
    left: 173px;
    top: 949px;
}
