.navbar-collapse {
    display: flex;
    justify-content: space-around;
}

.blabla:hover {
    color: rgb(0, 0, 0);
    background-color: #ffffff ;
    border-color: rgb(0, 0, 0);
}

.blabla {
    color: black;
    background-color: #7C73F5;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.under-title {
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
}

