body {
    background-color : #F0EFFF;
}

.navbar {
    background-color: #F0EFFF;
    z-index: 1;

}

.navbar-collapse {
    display: flex;
    justify-content: space-around;
}

.connexion:hover {
    color: rgb(0, 0, 0);
    background-color: #ffffff ;
    border-color: rgb(0, 0, 0);
}

.connexion {
    color: black;
    background-color: #7C73F5;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
}

.haut {
    display: grid;
    justify-content: space-around;
    text-align: center;
}
.title {
    font-family: "bebas-neue", sans-serif;
    margin-top: 50%;
    z-index: 3;
}


.purple-line {
    position: absolute;
    transform: translateY(-156%);
    width: 616px;
    height: 17px;
    margin-top: -22px;
    background: #7C73F5;
    border-radius: 5px;
} 



.under-title {
    margin-bottom: 4%;
}

.scroll-down {
    display: flex;
    justify-content: center;
    margin-top: 25%;
    margin-bottom: 25%;
}

.bordure-nav {
    width: 100vw;
    height: 23px;
    margin-top: -22px;
    z-index: 1O;
    background: #000000;
}

.bloc-nav {
    display: block;
}